.background {
    height: 40vh;
    width: 100%;
    object-fit: cover;
}

.detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateY(-20px);
    opacity: 0.3;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFFFFF;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    height: 70vh;
    width: 100%;
    transform: translateY(-60px);

    img {
        width: 22%;
        height: 30%;
        object-fit: contain;

        @media screen and (min-width: 1000px) {
            width: 10%;

        }

    }
      

      &--inputs {
          display: flex;
          flex-direction: column;
          width: 80%;

          input {
            border: 1px solid #707070;
            background-color: transparent;
            outline: 0;
            margin-bottom: 0.5rem;
            border-radius: 20px;
            padding: 0.95rem;
            color: black;

            span {
                color: black;
                font-weight: bold;
                letter-spacing: 2px;
                margin-bottom: 0.5rem;
                font-style: italic;
            }   
        }
      }

      p {
          color: #707070;
          margin-top: 1rem;

          a {
              color: #2d9fdb;
              text-decoration: none;
          }
      }
      .disabled {
          opacity: 0.5;
          pointer-events: none;
      }
      app-half-circle-spinner {
          margin-left: 1rem;
      }

}