<div class="navbar">
  <ng-container *ngFor="let item of navList">

  <div class="navbar--item" routerLink="item.link">
    <img src="currentNavbar === item.type ? item.iconActivated : item.icon">
  </div>

</ng-container>

  <div>
    <img *ngIf="currentNavbar !== navbarEnum.FEED"  src="assets/images/navbar_feed_disabled.svg">
    <img *ngIf="currentNavbar === navbarEnum.FEED" src="assets/images/navbar_feed_enabled.svg">
  </div>

  <div class='navbar--item'>
    <img *ngIf="currentNavbar  !== navbarEnum.PROFILE" src="assets/images/navbar_profile_disabled.svg">
    <img *ngIf="currentNavbar  === navbarEnum.PROFILE" src="assets/images/navbar_profile_enabled.svg">
  </div>

  <div class='navbar--item'>
    <img *ngIf="currentNavbar  !== navbarEnum.HOME" src="assets/images/navbar_home_disabled.svg">
    <img *ngIf="currentNavbar  === navbarEnum.HOME" src="assets/images/navbar_home_enabled.svg">
  </div>
</div>