<div class="signup">

  <img class="background" src="assets/images/Imagem 5.png">
  <img  class="detail" src="assets/images/Grupo 19.svg">
  <div class="container">

    <div class="logo">
      <app-logo src="assets/images/LOGO.svg"> </app-logo>
      <app-logo src="assets/images/Caminho 90.svg"> </app-logo>
    </div>
    

    <div class="container--inputs" >
      <span>Nome Completo*</span>
      <input (keydown.enter)="email.focus()" type="text">
      <span>E-mail*</span>
      <input #email (keydown.enter)="confirmeEmail.focus()" type="text">
      <span>confirme o e-mail*</span>
      <input #confirmeEmail (keydown.enter)="password.focus()" type="text">
      <span>Senha*</span>
      <input #password (keydown.enter)="confirmePassword.focus()" type="password">
      <span>confirme a senha*</span>
      <input #confirmePassword (keydown.enter)="signup()" type="password">
    </div>

    <ion-button class="button" (click)="signup()">
      Criar Conta
    </ion-button>

    <p>*Campos obrigatótios</p>
    <p>Ao registrar-me, concordo com os termos de uso a política de privacidade do aplicativo</p>
  </div>

</div>