.postit {
    width: 45vw;
    height: 35vh;

    background-color: #f77d60;
    color: #343434;
    padding: 1rem;

    

    h6 {
        font-size: 0.9rem;
        text-align: center;
    }

    p {
        font-size: 0.8rem;
        margin-bottom: 1rem;

        max-height: 25vh;
        overflow: hidden;
        
    }
}