<ion-button class= "hello" size="small" fill="outline">Hello World</ion-button>

<ion-datetime></ion-datetime>

<ion-select id="fruits" #fruits interface="action-sheet" placeholder="Minha fruta">
      <ion-select-option >Maça</ion-select-option>
      <ion-select-option >Banana</ion-select-option>
      <ion-select-option >Morango</ion-select-option>
</ion-select>

<ion-input placeholder="Enter Input"></ion-input>

<ion-accordion-group class="accordion">
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Primeiro exemplo</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Primeiro exemplo
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" color="light">
      <ion-label>Segundo exemplo</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      Segundo exemplo
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" color="light">
      <ion-label>terceiro exemplo</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      terceiro exemplo
    </div>
  </ion-accordion>
</ion-accordion-group>

<ion-img class="imagem"src="https://img.freepik.com/vetores-gratis/imagens-animadas-abstratas-neon-lines_23-2148344065.jpg?size=626&ext=jpg&ga=GA1.2.1597113128.1657980060"></ion-img>
 